@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700&family=Cabin+Sketch&family=Cardo:ital,wght@0,400;0,700;1,400&family=Diplomata&family=Hind+Guntur:wght@300;400;500&family=Itim&family=JetBrains+Mono:wght@300;500&family=Keania+One&family=Kenia&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Miltonian&family=Mirza:wght@400;500;600;700&family=Monoton&family=Nabla&family=Poppins:wght@100;200;300;400;500;700&family=Quicksand:wght@300;500&family=Raleway:wght@100;200;300;400;600;700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Marker+Hatch&family=Rubik:wght@300;400;500;600;700;800;900&family=Saira:wght@100;300;500&family=Signika+Negative:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500&display=swap');
@font-face { font-family: customfont; src: url(font.otf); }

/* -- Design is created by MichalBr(https://github.com/TheMichalBr), Copyright 2023. ForDev(https://github.com/TheMichalBr/themichalbr/blob/d4a442064ceef014bb5d5e161eced4501253a964/index.txt) -- */

/* --  Header -- */

header {
    position: fixed;
    top: 0.5;
    bottom: 0.5;
    left: 1;
    width: 100%;
    margin-block-start: 0px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 100px;
    z-index: 1000;
    transition: 0.245s;
    transition:
        width 2s,
        height 2s,
        background-color 0.2s,
        rotate 1.82s,
        /* offset 0.1s;*/;
    transition-timing-function: ease;
    transition-delay: 0.325s;
    transition-duration: 0.325s;
    transition-property: all;
}

header ul li a nav {
    display: flex;
    gap: 0.5rem;
}

header ul li a {
    flex: 1;
    background-color: #33333300;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.404);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-out;
    border-radius: 8.95px;
}

header ul li a:hover,
header ul li a:focus {
    background-color: #fff;
    color: #333;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 5px solid (0, 0, 0, .1);
    align-items: center;
}

header .logo {
    font-family: customfont;
    text-decoration: underline;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    text-shadow: 0.45px 0.45px 0.45px rgba(0, 0, 0, 0.507);
}

header .logo span {
    position: relative;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-size: .5em;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: 0.6s;
    text-shadow: 0.30px 0.30px 0.30px rgba(0, 0, 0, 0.507);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.89s;
    text-shadow: 0.25px 0.25px 0.25px rgba(0, 0, 0, 0.507);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header.sticky .logo,
header.sticky ul li a {
    color: #000000;
}

/* --  Banner -- */

.banner {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.banner p {
    border-right: solid 3px rgba(0, 255, 0, .75);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    /* line-height: 1em;*/
    font-family: customfont;
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.815);
    animation: animated-text 3.5s steps(1000, end) 1s 1 normal both, animated-cursor 800ms steps(29, end) infinite;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 590px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0, 255, 0, .75);
    }
    to {
        border-right-color: transparent;
    }
}

/* --  Body -- */

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(131, 15, 123) 3%, rgb(30, 97, 163) 38%, rgb(20, 170, 160) 68%, rgb(18, 155, 109) 98%);
    animation: gradient 32s ease infinite;
    /* animation: gradient 17s ease infinite; */
    background-size: 400% 400%;
    background-attachment: fixed;
    min-height: 1000px;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* --  Iframe -- */

.wrapper {
    position: relative;
    display: flex;
    text-align: center;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 800;
    width: 1200;
}

.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    border-radius: 25px;
    border-color: rgba(255, 255, 255, 0.726);
}

/* --  Other -- */

:root {
    --d: 1420ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

html {
    scroll-behavior: smooth
}

h3 {
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

.odkazy {
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p {
    max-width: 800px;
    margin: 0 auto;
}
.mxw800pp {
    max-width: 1600px;
    max-height: 900px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.mxw800p span {
    font-family: 'Diplomata SC', cursive;
    font-family: 'Monoton', cursive;
    text-decoration: underline;
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #fff;
}

code {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97)
}

h1 {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

* {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
    width: 17px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #005661;
    border-radius: 20px;
    border: 4px solid #ffffff;
}

/* --  My equipment -- */

.myequipment {
    position: flex;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
    background-color: #000000ab;
    grid-gap: 35px;
    flex-grow: 4;
    margin: 1 auto;
    justify-content: center;
    flex: 'flex-grow';
    align-self: center;
    align-items: center;
    width: auto;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
}
.myequipment ul {
    margin: 45px 25px;
}
.myequipment ul li {
    list-style: none;
    margin: 25px 10px;
    word-spacing: normal;
}
.myequipment ul li a {
    text-decoration: none;
    display: flex;
    margin: 0 35px;
}
.myequipment .box {
    width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.myequipment h3 {
    align-self: center;
    word-wrap: break-word;
    font-size: 45px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.829);
}

.myequipment p {
    align-self: center;
    word-wrap: break-word;
    font-size: 17px;
    text-shadow: 2.3px 2.3px 2.3px rgba(0, 0, 0, 0.829);
}
.myequipment b {
    align-self: center;
    word-wrap: break-word;
    font-size: 19px;
    text-shadow: 2.4px 2.4px 2.4px rgba(0, 0, 0, 0.829);
}

/* --  Stats -- */

.stats {
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}
.stats h3,
.stats p {
    color: #fff;
}

/* --  Games and other -- */

.gamesother {
    position: flex;
    display: flex;
    order: 1;
    flex-direction: column;
    flex-grow: 4;
    flex-shrink: 3;
    flex-flow: column wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
    gap: 10px;
    gap: 10px 20px;
    column-gap: 20;
    background-color: #000000ab;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
    flex-flow: column wrap;
    justify-content: center;
    width: auto;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif; /*'Mirza', cursive;*/
}
.gamesother table {
    align-self: center;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
}
.gamesother h2 {
    color: #fff;
    font-size: 36px;
    justify-content: center;
}
.gamesother h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.gamesother h3 {
    align-self: center;
    word-wrap: break-word;
    font-size: 36px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.829);
}

.gamesother code {
    align-self: center;
    word-wrap: break-word;
    font-size: 13.5px;
    text-shadow: 2.3px 2.3px 2.3px rgba(0, 0, 0, 0.829);
}

.gamesother code{
    align-self: center;
    word-wrap: break-word;
    font-size: 13.5px;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.829);
}
.gamesother b {
    align-self: center;
    word-wrap: break-word;
    font-size: 13.5px;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.829);
}

.gamesother a {
    align-self: center;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.829);
}

.gamesother a:link {
    color: rgb(51, 153, 212);
}

.gamesother a:visited {
    color: rgb(0, 60, 121);
}

.gamesother a:hover {
    color: rgb(26, 167, 202);
}

.gamesother a:active {
    color: rgb(18, 78, 168);
}

.tabulkacs {
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
    outline: 0px solid white;
    outline-offset: 0px;
    margin: center;
    align-self: center;
    align-content: center;
    border: 1px cyan;
    border-spacing: 1em 0.3em;
    padding: 0 2em 1em 0;
    width: 51em;
    height: 15em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* --  About me -- */

.aboutme {
    background: #000000ab;
    /* #444d92 */
    position: flex;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    /*  min-height: 300px;*/
    margin-top: 40px;
    margin: 1 auto;
    color: white;
    text-shadow: 55px 55px 55px rgba(0, 0, 0, 0.815);
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    order: 2;
    justify-content: center;
    align-items: center;
    width: inherit;
    flex-grow: 2;
    width: auto;
    word-wrap: break-word;
    font-family: 'Mirza', cursive;
}
.aboutme ul li {
    list-style: none;
    margin: 45px 95px;
}

.aboutme ul li a {
    text-decoration: none;
    display: flex;
    margin: 0 35px;
}

.aboutme h3 {
    font-size: 50px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.829);
}

.aboutme p {
    font-size: 18px;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.829);
}

/* --  TeamBx -- */

.teamBx {
    position: relative;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
    background-color: #000000ab;
}

.teamBx .member {
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx .member .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member:hover .details {
    opacity: 1;
}

.teamBx .member .details h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member .details h2 span {
    display: block;
    font-size: 12px;
    font-weight: 300;
}

/* --  Textove -- */

.textove {
    background: #333f979d;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.textove h3, p, b {
    color: #fff;
    text-shadow: 1px 1px 1px black;
    margin: auto;;
}

/* --  Follow me -- */

.fo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.fo ul {
    display: flex;
}

.fo ul li {
    list-style: none;
}

.fo ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 35px;
}

.fo ul li a img {
    filter: invert(1);
    max-width: 36px;
    max-height: 36px;
    transition-delay: 25ms;
}

.fo ul li a:hover img {
    opacity: 0.5;
    height: 50px;
}

.toggle {
    display: none;
}

/* --  Media/Resize -- */

@media (max-width: 992px) {
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }

    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }

        header,
        header.sticky {
            padding: 16px 50px;
            background: #fff;
        }

    header ul {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }

    header.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 300px;
    }

    header.active ul li a {
        display: inline-block;
        margin: 15px 0;
        font-size: 20px;
    }

    header .logo,
    header ul li a {
        color: #000;
    }

    .banner {
        background-position: center;
    }

    .banner h2 {
        font-size: 92px;
        padding: 0 50px;
    }

    .sec {
        padding: 100px 50px 50px 50px;
    }

    .services .box {
        width: 100%;
    }

    .stats {
        padding-top: 250px;
    }

    .row100 {
        flex-direction: column;
    }

    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100 {
        width: 100%;
        margin: 0;
    }

    .sci {
        margin: 20px;
    }

    .sci ul li a img {
        font-size: 24px;
    }
}