@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700&family=Cabin+Sketch&family=Cardo:ital,wght@0,400;0,700;1,400&family=Diplomata&family=Hind+Guntur:wght@300;400;500&family=Itim&family=JetBrains+Mono:wght@300;500&family=Keania+One&family=Kenia&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Miltonian&family=Mirza:wght@400;500;600;700&family=Monoton&family=Nabla&family=Nunito:wght@300;500;700&family=Poppins:wght@100;200;300;400;500;700&family=Quicksand:wght@300;500&family=Raleway:wght@100;200;300;400;600;700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Marker+Hatch&family=Rubik:wght@300;400;500;600;700;800;900&family=Saira:wght@100;300;500&family=Signika+Negative:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500&display=swap');
@font-face { font-family: customfont; src: url(font.otf); }

@media only screen and (device-width: 1920px),
only screen and (max-width: 1080px) {
    .css-element {
display: block;
    }
}

/* --  Header -- */

header {
    position: fixed;
    top: 0.5;
    bottom: 0.5;
    left: 1;
    width: 100%;
    margin-block-start: 0px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 100px;
    z-index: 1000;
    transition: 0.245s;
    transition:
        width 2s,
        height 2s,
        background-color 0.2s,
        rotate 1.82s,
        /* offset 0.1s;*/;
    transition-timing-function: ease;
    transition-delay: 0.325s;
    transition-duration: 0.325s;
    transition-property: all;
}

header ul li a nav {
    display: flex;
    gap: 0.5rem;
}

header ul li a {
    flex: 1;
    background-color: #33333300;
    color: #fff;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.404);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-out;
    border-radius: 8.95px;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.89s;
    text-shadow: 0.25px 0.25px 0.25px rgba(0, 0, 0, 0.507);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header ul li a:hover,
header ul li a:focus {
    background-color: #fff;
    color: #000000; /* #333 */
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 5px solid (0, 0, 0, .1);
    align-items: center;
    border-color: rgb(0, 0, 0);
}

header.sticky ul li a{
    border-color: rgb(0, 0, 0);
}

header.sticky ul li a:hover,
header.sticky ul li a:focus {
    background-color: #000000e0;
    color: #ffffff;
}

header .logo {
    font-family: customfont;
    text-decoration: underline;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    text-shadow: 0.45px 0.45px 0.45px rgba(0, 0, 0, 0.507);
}

header .logo span {
    position: relative;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-size: .5em;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: 0.6s;
    text-shadow: 0.30px 0.30px 0.30px rgba(0, 0, 0, 0.507);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000000;
}

/* --  Banner -- */

.banner {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.banner p {
    border-right: solid 3px rgba(0, 255, 0, .75);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    /* line-height: 1em;*/
    font-family: customfont;
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.815);
    animation: animated-text 3.5s steps(1000, end) 1s 1 normal both, animated-cursor 800ms steps(29, end) infinite;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 590px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0, 255, 0, .75);
    }
    to {
        border-right-color: transparent;
    }
}

/* --  Body -- */

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(131, 15, 123) 3%, rgb(30, 97, 163) 38%, rgb(20, 170, 160) 68%, rgb(18, 155, 109) 98%);
    animation: gradient 32s ease infinite;
    /* animation: gradient 17s ease infinite; */
    background-size: 400% 400%;
    background-attachment: fixed;
    min-height: 1000px;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* --  Iframe -- */

.wrapper {
    position: relative;
    display: flex;
    text-align: center;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 800;
    width: 1200;
}

.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    border-radius: 25px;
    border-color: rgba(255, 255, 255, 0.726);
}

/* --  Other -- */

:root {
    --d: 1420ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

html {
    scroll-behavior: smooth
}

h3 {
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

.odkazy {
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px white;
}

.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p {
    max-width: 800px;
    margin: 0 auto;
}
.mxw800pp {
    max-width: 1600px;
    max-height: 900px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.mxw800p span {
    font-family: 'Diplomata SC', cursive;
    font-family: 'Monoton', cursive;
    text-decoration: underline;
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #fff;
}

code {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97)
}

h1 {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

* {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
}

*::-webkit-scrollbar {
    width: 17px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #005661;
    border-radius: 20px;
    border: 4px solid #ffffff;
}

/* --  My equipment -- */

.myequipment {
    position: flex;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 40px;
    background-color: #000000ab;
    grid-gap: 35px;
    flex-grow: 3;
    margin: 1 auto;
    justify-content: center;
    flex-direction: row;
    flex: 'flex-grow';
    align-self: center;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
}
.myequipment ul li {
    display: list-item;
    margin: 40px 80px;
    padding: 0 5px;
    word-spacing: normal;
    vertical-align: top;
    list-style: none;
}
.myequipment h1 {
    font-size: 40px;
    font-family: 'Asap', sans-serif;
    text-shadow: 2.6px 2.6px 2.6px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
    letter-spacing: 2px;
}
.myequipment b {
    font-size: 20px;
    font-family: 'Nunito', Light, sans-serif;
    text-shadow: 2.2px 2.2px 2.2px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
}
.myequipment p {
    font-size: 18px;
    font-family: 'Signika', Medium, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
}
.et{
    order: 0;
    flex-wrap: wrap;
    align-self: auto;
}
.et1{
    order: 1;
    flex-wrap: wrap;
    align-self: auto;
}
.et2{
    order: 2;
    flex-wrap: wrap;
    align-self: auto;
}

/* --  Games and other -- */

.gamesother {
    position: flex;
    display: flex;
    order: 1;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 3;
    flex-flow: column wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
    gap: 10px 20px;
    column-gap: 20;
    background-color: #000000ab;
    text-align: center;
    justify-content: center;
    width: auto;
    word-wrap: break-word;
    font-family: 'Nunito', Light, sans-serif;
    flex-wrap: wrap;
}
.gamesother h1 {
    font-size: 40px;
    font-family: 'Asap', sans-serif;
    text-shadow: 2.6px 2.6px 2.6px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
    letter-spacing: 2px;
    justify-content: center;
    text-transform: none;
}
.gamesother code {
    align-self: center;
    word-wrap: break-word;
    font-size: 10px;
    text-shadow: 2.3px 2.3px 2.3px rgba(0, 0, 0, 0.829);
}
.gamesother stare b {
    align-self: center;
    word-wrap: break-word;
    font-size: 13.5px;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.829);
}
.gamesother a {
    align-self: center;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.829);
}
.gamesother a:link {
    color: rgb(21, 130, 194);
}
.gamesother a:hover {
    color: rgb(25, 197, 240);
}
.gamesother a:active {
    color: rgb(18, 78, 168);
}
.gamesother a:visited {
    color: rgb(157, 122, 221);
}
.gamestabulka1 {
    border-spacing: 0.27em 0.27em;
    padding: 0 2em 1em 0;
    width: 120em;
    height: 20em;

    border-image: fill;
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    text-align: center;
    align-self: center;
    align-content: center;
    margin: center;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    border: 1px rgba(61, 90, 90, 0.425);
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
    table-layout: fixed;
}
.gamestabulka1 img{
    filter: drop-shadow(0 0 0.75rem rgb(107, 102, 79));
    align-self: center;
}
.gamestabulka1 li{
    list-style: none;
    color: white;
    font-size: 10px;
}
.gamestabulka1 li p{
    color: white;
    font-size: 9px;
}
.gamestabulka1 li td{
    color: white;
    font-size: 8px;
}
.gamestabulka1 li b {
    color: white;
    font-size: 12px;
    font-family: 'Nunito', Light, sans-serif;

}
.gamestabulka1 td p {
    color: white;
    font-size: 13px;
    font-family: 'Nunito', Light, sans-serif;
}
.gamestabulka1 td a {
    
}

.gamestabulka1 h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}
.gamestabulka1 h2 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: #FB667A;
}
.gamestabulka1 h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
}
.gamestabulka1 th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: #c3c9cc;
}
.gamestabulka1 td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}
.gamestabulka1 td,
.gamestabulka1 th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}
/* Background-color of the odd rows */
.gamestabulka1 tr:nth-child(odd) {
    background-color: #323C50;
}
/* Background-color of the even rows */
.gamestabulka1 tr:nth-child(even) {
    background-color: #2C3446;
}
.gamestabulka1 th {
    background-color: #1F2739;
}
.gamestabulka1 tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}
.gamestabulka1 td:hover {
    background-color: #11769e;
    color: #102a40;
    font-weight: bold;

    box-shadow: #03214d -1px 1px, #03214d -2px 2px, #03214d -3px 3px, #03214d -4px 4px, #03214d -5px 5px, #03214d -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}
@media (max-width: 800px) {

    .gamestabulka1 td:nth-child(4),
    .gamestabulka1 th:nth-child(4) {
        display: none;
    }
}

/* --  About me -- */

.aboutme {
    background: #000000ab;
    /* #444d92 */
    position: flex;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    /*  min-height: 300px;*/
    margin-top: 40px;
    margin: 1 auto;
    color: white;
    text-shadow: 55px 55px 55px rgba(0, 0, 0, 0.815);
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;
    order: 2;
    justify-content: center;
    align-items: center;
    width: inherit;
    flex-grow: 2;
    width: auto;
    word-wrap: break-word;
}
.aboutme ul li {
    list-style: none;
    margin: 45px 95px;
}
.aboutme ul li a {
    text-decoration: none;
    display: flex;
    margin: 0 35px;
}
.aboutme h1 {
    font-size: 40px;
    font-family: 'Asap', sans-serif;
    text-shadow: 2.6px 2.6px 2.6px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
    letter-spacing: 2px;
}
.aboutme p {
    font-size: 19px;
    font-family: 'Nunito', Light, sans-serif;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
}

/* --  TeamBx -- */

.teamBx {
    position: relative;
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
    background-color: #000000ab;
}

.teamBx .member {
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx .member .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member:hover .details {
    opacity: 1;
}

.teamBx .member .details h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member .details h2 span {
    display: block;
    font-size: 12px;
    font-weight: 300;
}

/* --  Textove -- */

.textove {
    background: #333f979d;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.textove h3, p, b {
    color: #fff;
    text-shadow: 1px 1px 1px black;
    margin: auto;;
}

/* --  Follow me -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.fo {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 0;
    font-family: 'Poppins', sans-serif;
}

.fo h3, b{
    color: white;
}

.fo ul {
    display: flex;
}

.fo ul li {
    list-style: none;
}

.fo ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 35px;
}

.fo ul li a img {
    filter: invert(1);
    max-width: 36px;
    max-height: 36px;
    transition-delay: 25ms;
}

.fo ul li a:hover img {
    opacity: 0.5;
    height: 50px;
}

.toggle {
    display: none;
}

/* --  Media/Resize -- */

@media (max-width: 992px) {
    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }
    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
        header,
        header.sticky {
            padding: 16px 50px;
            background: #fff;
        }
    header ul {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    header.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 40px;
        max-height: 405px;
        transition: ease-out 1025ms;
        background-color: #ffffff;
    }
    header.active ul li a {
        display: inline-block;
        margin: 15px 0;
        font-size: 30px;
    }
    header .logo,
    header ul li a {
        color: #000;
    }
    .banner {
        background-position: center;
    }
    .banner h2 {
        font-size: 92px;
        padding: 0 50px;
    }
    .sec {
        padding: 100px 50px 50px 50px;
    }
    .services .box {
        width: 100%;
    }
    .stats {
        padding-top: 250px;
    }
    .row100 {
        flex-direction: column;
    }
    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100 {
        width: 100%;
        margin: 0;
    }
    .sci {
        margin: 20px;
    }
    .sci ul li a img {
        font-size: 24px;
    }
}