@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700&family=Cabin+Sketch&family=Cardo:ital,wght@0,400;0,700;1,400&family=Diplomata&family=Hind+Guntur:wght@300;400;500&family=Itim&family=JetBrains+Mono:wght@300;500&family=Keania+One&family=Kenia&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Miltonian&family=Mirza:wght@400;500;600;700&family=Monoton&family=Nabla&family=Nunito:wght@300;500;700&family=Poppins:wght@100;200;300;400;500;700&family=Quicksand:wght@300;500&family=Raleway:wght@100;200;300;400;600;700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Marker+Hatch&family=Rubik:wght@300;400;500;600;700;800;900&family=Saira:wght@100;300;500&family=Signika+Negative:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700&family=Cabin+Sketch&family=Cardo:ital,wght@0,400;0,700;1,400&family=Diplomata&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Hind+Guntur:wght@300;400;500&family=Itim&family=JetBrains+Mono:wght@300;500&family=Keania+One&family=Kenia&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Miltonian&family=Mirza:wght@400;500;600;700&family=Monoton&family=Nabla&family=Nunito:wght@300;500;700&family=Poppins:wght@100;200;300;400;500;700&family=Quicksand:wght@300;500&family=Raleway:wght@100;200;300;400;600;700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Marker+Hatch&family=Rubik:wght@300;400;500;600;700;800;900&family=Saira:wght@100;300;500&family=Signika+Negative:wght@300;400;500;600;700&family=Signika:wght@300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500&display=swap');


@font-face {
    font-family: customfont;
    src: url(font.otf);
}

@media only screen and (device-width: 1920px),
only screen and (max-width: 1080px) {
    .css-element {
        display: block;
    }
}

/* --  Body -- */

body {
    overflow: overlay;

    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /*overflow: scroll;
    overflow: overlay;
    overflow: auto;*/
    background: linear-gradient(315deg, rgb(131, 15, 123) 3%, rgb(30, 97, 163) 38%, rgb(30, 97, 163) 68%, rgb(131, 15, 123) 98%);
    animation: gradient 32s ease infinite;
    /* animation: gradient 17s ease infinite;  rgb(18, 155, 109) 
    background: linear-gradient(315deg, rgb(131, 15, 123) 3%, rgb(30, 97, 163) 38%, rgb(20, 170, 160) 68%, rgb(40, 150, 30) 98%);
    */
    background-size: 400% 400%;
    background-attachment: fixed;
    min-height: 1000px;
    min-width: 800px;
    width: 100%;

    overflow: overlay;
    /*
    dif bcs of this in html was doesnt work with this
    
    overflow-x: hidden;
    overflow-y: hidden;*/


    /* max-width: 100vw;
    max-height: 100vw;
    margin: 0 auto;
    font-size: 2vw;*/
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* --  Other -- */

:root {
    --d: 1420ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

html {
    scroll-behavior: smooth
}

h3 {
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

.odkazy {
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px white;
}

div {
    will-change: transform;
}

.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}

h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #fff;
}

code {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97)
}

h1 {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

.d {
    width: 20px;
    fill: #fff;
    opacity: .75;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.toggle {
    display: none;
}


/* --  Header -- */

header {
    position: fixed;
    top: 0.5;
    bottom: 0.5;
    left: 1;
    width: 100%;
    margin-block-start: 0px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 100px;
    z-index: 1000;
    transition: 0.245s;
    transition:
        width 2s,
        height 2s,
        background-color 0.2s,
        rotate 1.82s,
        /* offset 0.1s;*/
    ;
    transition-timing-function: ease;
    transition-delay: 0.325s;
    transition-duration: 0.325s;
    transition-property: all;
    animation: fadetop 3s ease;
}

header ul li a nav {
    display: flex;
    gap: 0.5rem;
}

header ul li a {
    flex: 1;
    background-color: #33333300;
    color: #ffffff;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.404);
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-out;
    border-radius: 9.982px;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.89s;
    text-shadow: 0.59px 0.59px 0.59px rgb(0, 0, 0, 0.500);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header ul li a:hover,
header ul li a:focus {
    background-color: #ffffff;
    color: #000000;
    /* #333 */
}

header.sticky {
    padding: 5px 100px;
    background: #ffffff;
    border-bottom: 5px solid (0, 0, 0, .1);
    align-items: center;
    border-color: rgb(0, 0, 0);
}

header.sticky ul li a {
    border-color: rgb(0, 0, 0);
    text-shadow: 0.27px 0.27px 0.27px rgb(0, 0, 0, 0.500);
}

header.sticky ul li a:hover,
header.sticky ul li a:focus {
    background-color: #000000e0;
    color: #fffffffa;
}

header .logo {
    font-family: customfont;
    text-decoration: underline;
    position: relative;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    text-shadow: 0.87px -0.19px 2.82px rgba(0, 0, 0, 0.475);
}

header .logo span {
    position: relative;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    font-size: .5em;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: 0.6s;
    text-shadow: 0.30px 0.30px 0.30px rgba(0, 0, 0, 0.507);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000000;
    text-shadow: 0.25px 0.25px 0.25px rgb(0, 0, 0, 0.500);
}

/* --  Banner -- */

.banner {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.banner p {
    border-right: solid 3px rgba(0, 255, 0, .75);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    /* line-height: 1em;*/
    font-family: customfont;
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.815);
    animation: animated-text 2.25s steps(1500, end) 1s 1 normal both, animated-cursor 800ms steps(29, end) infinite, colorRotateLOGO 15.52s linear 5s infinite;
}

@keyframes colorRotateLOGO {

    100%,
    0% {
        color: rgb(255, 255, 255);
    }

    50% {
        color: rgb(225, 255, 253);
    }
}

@keyframes animated-text {
    from {
        width: 0;
    }

    to {
        width: 590px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: rgba(0, 255, 0, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.homeUT {
    color: #ffffff;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    animation: fadein 10s ease;
}

/* --  Scrollbar -- */

::-webkit-scrollbar {
    width: 0.012px;
    height: 7.75px;
    background: transparent transparent;
}

::-webkit-scrollbar-track {
    background: #c4c4c4;
}

::-webkit-scrollbar-thumb {
    background: #999;
    background-color: #999;
    border-radius: 0px;
    border: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #111111bb;
}

/* --  Equipment -- */

.equipment {
    background: #000000ab;
    box-sizing: border-box;
    display: flex;
    align-self: center;
    align-items: center;
    overflow: hidden;
    margin-top: 40px;
    height: auto;
    width: auto;
    justify-content: space-between;
    align-content: space-between;
}

.flexcontainerEQ {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1.2%;
    animation: fadein 1.5s ease;
}

.flexEQ {
    flex: 1;
    flex-wrap: wrap;
}

.flex-child:first-child {
    margin-right: 20px;
}

.flex-child:last-child {
    align-self: flex-end;
}

.nameEQ {
    color: #F4F4F5;
    font-size: .75rem;
    line-height: 1rem;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .05em;
    --tw-text-opacity: 1;
    word-spacing: normal;
    font-size: 12px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
    animation: fadein 2s ease;
}

.itemEQ {
    color: #F4F4F5;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: -0.75rem;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-spacing: normal;
    font-size: 14px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
    letter-spacing: 0.252px;
    animation: fadein 3s ease;
}

.boxEQ {
    background: linear-gradient(180.2deg, rgba(46, 52, 92, 0.212) 6.8%, rgba(37, 78, 168, 0.329) 131%);
    /*background: linear-gradient(180.2deg, rgba(30, 33, 48, 0.37) 6.8%, rgba(74, 98, 110, 0.76) 131%);*/
    border: 0px solid black;
    padding: 23px;
    margin: 80.5px;
    border-radius: 0.375rem;
    width: 250px;
    height: 250px;
    box-shadow: -2.2px -0.2px 5px black;
    flex-grow: 1;
}

.boxEQ img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    object-position: center;
    /*box-shadow: 10px 0px 80px 0px rgba(0, 0, 0, 0.41);*/
    display: block;
    filter: drop-shadow(3px 3px 3px black);
    -webkit-filter: drop-shadow(3px 3px 3px #000000);
    margin-left: auto;
    margin-right: auto;
    animation: float 5.25s ease-in-out infinite;
    transform: translate3d(0, 0, 1px);
    backface-visibility: hidden;
}

.TFS {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 0;
    align-items: center;
    transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(1.25px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* --  Games and other -- */

.gamesother {
    position: flex;
    display: flex;
    order: 1;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 3;
    flex-flow: column wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
    gap: 10px 20px;
    column-gap: 20;
    background-color: #000000ab;
    text-align: center;
    justify-content: center;
    width: auto;
    word-wrap: break-word;
    font-family: 'Nunito', Light, sans-serif;
    flex-wrap: wrap;
}

.gamesother h1 {
    font-size: 40px;
    font-family: 'Asap', sans-serif;
    text-shadow: 2.6px 2.6px 2.6px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
    letter-spacing: 2px;
    justify-content: center;
    text-transform: none;
}

.gamesother code {
    align-self: center;
    word-wrap: break-word;
    font-size: 10px;
    text-shadow: 2.3px 2.3px 2.3px rgba(0, 0, 0, 0.829);
}

.gamesother stare b {
    align-self: center;
    word-wrap: break-word;
    font-size: 13.5px;
    text-shadow: 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.829);
}

.gamesother a {
    align-self: center;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.829);
}

.gamesother a:link {
    color: rgb(21, 130, 194);
}

.gamesother a:hover {
    color: rgb(25, 197, 240);
}

.gamesother a:active {
    color: rgb(18, 78, 168);
}

.gamesother a:visited {
    color: rgb(157, 122, 221);
}

.gamestabulka1 {
    border-spacing: 0.27em 0.27em;
    padding: 0 2em 1em 0;
    width: 120em;
    height: 20em;
    border-image: fill;
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 1.25em 0;
    text-align: center;
    align-self: center;
    align-content: center;
    margin: center;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    border: 1px rgba(61, 90, 90, 0.425);
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
    table-layout: fixed;
    list-style: none;
    color: white;
    color: #4DC3FA;
    color: #FB667A
}


/* Background-color of the odd rows 
.gamestabulka1 tr:nth-child(odd) {
    background-color: #323C50;
}

.gamestabulka1 td:hover {
    background-color: #11769e;
    color: #102a40;
    font-weight: bold;

    box-shadow: #03214d -1px 1px, #03214d -2px 2px, #03214d -3px 3px, #03214d -4px 4px, #03214d -5px 5px, #03214d -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}*/

/* --  About me -- */

.aboutme {
    background: #000000ab;
    position: flex;
    display: flex;
    margin-top: 40px;
    color: white;
    flex-direction: column;
}

.flexcontainerAM {
    background: linear-gradient(180.2deg, rgba(46, 52, 92, 0.212) 6.8%, rgba(37, 78, 168, 0.329) 131%);
    background-color: rgba(145, 145, 145, 0.13);
    border: 0px solid black;
    box-shadow: -2.2px -0.2px 5px black;
    text-shadow: 55px 55px 55px rgba(0, 0, 0, 0.815);
    border-radius: 0.685rem;
    position: relative;
    display: flex;
    row-gap: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    flex-grow: 1;
    border-radius: 10px; /*border-radius: 0.55%;*/
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    animation: fadein 1.5s ease;

    /*new*/
    max-width: 1250px;
    margin: 85px auto 55px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 4px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.flexcontainerAM:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.aboutme ul li {
    list-style: none;
    margin: 49.5px 90px;
}

.aboutme ul li a {
    text-decoration: none;
    display: flex;
    margin: 0 35px;
}

.aboutme h1 {
    font-weight: 800;
    font-size: 65px;
    font-family: 'Asap', sans-serif;
    text-shadow: 2.6px 2.6px 2.6px rgba(0, 0, 0, 0.829);
    word-wrap: break-word;
    align-self: center;
    letter-spacing: 9.5px;
    color: #d1d1d1;
    animation: fadein 3s ease;
}

.aboutme p {
    font-weight: 320;
    font-size: 18px;
    font-family: 'Asap', sans-serif;
    text-shadow: 2.7px 2.7px 2.7px rgba(0, 0, 0, 0.925);
    word-wrap: break-word;
    align-self: center;
    animation: fadein 4s ease;
}

/* --  Video section -- */

.video {
    background-color: #000000ab;
    display: flex;
    position: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
    transition: 0.25s;
    width: auto;
}

.video iframe {
    opacity: 0.995;
    border-radius: 22.5px;
    position: flex;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    perspective: 1920px;
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    vertical-align: top;
    padding: 0;
    border: 9.5px solid rgba(37, 78, 168, 0.144);
    background: linear-gradient(180.2deg, rgba(46, 52, 92, 0.212) 6.8%, rgba(37, 78, 168, 0.096) 131%);
    width: 1590px;
    height: 902px;
    /*min-height: 1080px;
    min-width: 1920px;
    rgba(180, 180, 180, 0.562)
    */
    animation: fadein 1.5s ease;
}

.contenedorr {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.contenedorr form {
    box-sizing: border-box;
    padding: 22px;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    justify-content: center;
}

.Pactive {
    border-bottom: 2px solid #1161ed;
}

.Pnonactive {
    color: rgba(255, 255, 255, 0.2);
}

.video-container {
    position: relative;
    width: 1590px;
    height: 902px;
    cursor: pointer;
    animation: fadein 1.75s ease;
}

.thumbnail,
.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.995;
    border-radius: 22.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 9.5px solid rgba(37, 78, 168, 0.144);
    background: linear-gradient(180.2deg, rgba(46, 52, 92, 0.212) 6.8%, rgba(37, 78, 168, 0.096) 131%);
    filter: blur(50px) grayscale(0.15);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: url('https://raw.githubusercontent.com/TheMichalBr/themichalbr/main/media/V_P.webp') no-repeat center center;
    background-size: contain;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
    cursor: pointer;
    transition: fadein 1.85s ease, transform 1.86s ease, filter 1.87s ease;
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

.video-frame iframe {
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.overlay.show {
    display: block;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: url('https://raw.githubusercontent.com/TheMichalBr/themichalbr/main/media/V_R.webp') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    filter: invert(1);
}

/* --  Media/Resize -- */

@media (max-width: 992px) {
    .toggle {
        display: block;
        position: relative;
        width: 33.5px;
        height: 20px;
        cursor: pointer;
        margin-top: 12.25px;
        margin-bottom: auto;
        perspective: 2500px;
    }

    .toggle:before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }

    .toggle:after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }

    header,
    header.sticky {
        padding: 16px 50px;
        background: #ffffff;
        text-shadow: 0.25px 0.25px 0.25px rgb(0, 0, 0, 0.500);
    }

    header ul {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fffffffa;
        visibility: hidden;
        opacity: 0;
    }

    header.active ul {
        visibility: visible;
        opacity: 1;
        display: block;
        border-radius: 5%;
        padding-top: 19px;
        max-height: 282px;
        transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1025ms;
    }

    header.active ul li a {
        display: inline-block;
        margin: 15px 0;
        font-size: 30px;
    }

    header .logo,
    header ul li a {
        color: #000;
    }

    .banner {
        background-position: center;
    }

    .banner h2 {
        font-size: 92px;
        padding: 0 50px;
    }

    .sec {
        padding: 100px 50px 50px 50px;
    }

    .services .box {
        width: 100%;
    }

    .stats {
        padding-top: 250px;
    }

    .row100 {
        flex-direction: column;
    }

    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100 {
        width: 100%;
        margin: 0;
    }

    .sci {
        margin: 20px;
    }

    .sci ul li a img {
        font-size: 24px;
    }
}



/* --  Footer -- */

.footer {
    background: #020202d3;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

.footer hr {
    margin-top: 0.1em;
    margin-bottom: 0.15em;
    border-style: inset;
    border-width: 1.15px;
    filter: drop-shadow(1px 2px 1.12px #000000);
}

.footer img {
    filter: invert(1); /* SVG Manual */
    max-width: 50px;
    max-height: 50px;
    justify-self: center;
}

.ft {
    position: flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px 0;
    animation: fadein 1.5s ease
}

.ft li b {
    font-family: customfont;
    color: #fff;
    font-size: 18px;
    text-shadow: 1.225px 1.225px 1.225px black;
    font-weight: 100;
    letter-spacing: 1.25px;
    display: flex;
    padding-top: 9.875%;
    animation: colorRotate 15.52s linear 0s infinite;
}

.ft ul {
    display: flex;
    list-style: none;
}

.ft ul li {
    justify-content: center;
}

.ft ul li a {
    display: inline-block;
    margin: 0 54px;
    width: 0%;
    height: 0%;
}

.ft ul li a:hover img {
    opacity: 0.80;
    transition-delay: 25.25ms;
}

#Youtube:hover {
    opacity: 0.75;
    transition-delay: 25.25ms;
    filter: invert(27%) sepia(93%) saturate(7472%) hue-rotate(0deg) brightness(90%) contrast(128%) drop-shadow(1px 2px 1.12px #000000);
}

#Instagram:hover {
    opacity: 0.75;
    transition-delay: 25.25ms;
    filter: invert(30%) sepia(78%) saturate(3392%) hue-rotate(318deg) brightness(90%) contrast(94%) drop-shadow(1px 2px 1.12px #000000);
}

#Steam:hover {
    opacity: 0.75;
    transition-delay: 25.25ms;
    filter: invert(29%) sepia(91%) saturate(1488%) hue-rotate(203deg) brightness(92%) contrast(88%) drop-shadow(1px 2px 1.12px #000000);
}

#GitHub:hover {
    opacity: 0.75;
    transition-delay: 25.25ms;
    filter: invert(53%) sepia(12%) saturate(231%) hue-rotate(172deg) brightness(91%) contrast(96%) drop-shadow(1px 2px 1.12px #000000);
}

.MZoom {
    transition: transform .62s;
}

.MZoom:hover {
    transform: scale(1.1);
}

.LGZoom {
    transition: transform .62s;
}

.LGZoom:hover {
    transform: scale(95.65%);
}

.TZoom {
    transition: transform .62s;
}

.TZoom:hover {
    transform: scale(66.45%);
}

.HZoom {
    transition: transform 5.6s;
}

.HZoom:hover {
    transform: scale(1.1);
}

.LZoom {
    transition: transform .2525s;
}

.LZoom:hover {
    transform: scale(1.1);
}

@keyframes colorRotate {
100%, 0% {
        color: rgba(255, 0, 0, 0.445);
        opacity: 98.9%;
    }

    8% {
        color: rgb(255, 127, 0);
        opacity: 98.9%;
    }

    16% {
        color: rgb(255, 255, 0);
        opacity: 98.9%;
    }

    25% {
        color: rgb(127, 255, 0);
        opacity: 98.9%;
    }

    33% {
        color: rgb(0, 255, 0);
        opacity: 98.9%;
    }

    41% {
        color: rgb(0, 255, 127);
        opacity: 98.9%;
    }

    50% {
        color: rgb(0, 255, 255);
        opacity: 98.9%;
    }

    58% {
        color: rgb(0, 127, 255);
        opacity: 98.9%;
    }

    66% {
        color: rgb(0, 0, 255);
        opacity: 98.9%;
    }

    75% {
        color: rgb(127, 0, 255);
        opacity: 98.9%;
    }

    83% {
        color: rgb(255, 0, 255);
        opacity: 98.9%;
    }

    91% {
        color: rgb(255, 0, 127);
        opacity: 98.9%;
    }
}


/* --  Karty -- */

:root {
    --d: 1420ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

* {
    box-sizing: border-box;
}

.page-content {
    display: flex;
    /*display: grid;*/
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1.1rem;
    width: 100%;
    text-align: center;
    border-radius: 16px;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
    animation: fadein 1.5s ease
}

@media (min-width: 600px) {
    .card {
        height: 420px;
        /*(def 350px)*/
        ;
    }
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background-image: url(media/GB_Reviews.webp);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: center;
    filter: blur(0.8px);
}

.card:nth-child(2):before {
    background-image: url();
    background: linear-gradient(180.2deg, rgba(199, 82, 35, 0.212) 6.8%, rgba(197, 77, 47, 0.329) 131%);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: center;
    filter: blur(0.8px);
}

.card:nth-child(3):before {
    background-image: url();
    background: linear-gradient(180.2deg, rgba(199, 82, 35, 0.212) 6.8%, rgba(197, 77, 47, 0.329) 131%);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: center;
    filter: blur(0.8px);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+* {
    margin-top: 1rem;
}

.card a{
    text-decoration: none;
}

.card a:link {
    color: rgb(255, 95, 95);
}

.card a:visited {
    color: rgb(255, 159, 159);
}

.card a:hover {
    color: rgb(96, 250, 255);
}

.card a:active {
    color: rgb(146, 153, 255);
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    padding: 0.42rem 1.45rem;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;

}

.btn:hover {
    background-color: #0d0d0d;
}

.btn:focus {
    outline: 1px dashed rgb(0, 0, 0);
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }

    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }

    .card:hover .content>*:not(.title),
    .card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 2rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}



/* --  All about games, accounts, rank, settings, reviews and other -- */

.table-container {
    width: 80%;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #f3f4f6;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #333;
    animation: fadein 1.5s ease;
    max-width: 82rem;
}
.modern-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}
.modern-table th,
.modern-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.modern-table th {
    background: linear-gradient(135deg, #141142, #798da0);
    color: #ffffff;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}
.modern-table tbody tr {
    background-color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.modern-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.modern-table tbody tr:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.modern-table tbody td:hover {
    transform: scale(1.02);
    background: linear-gradient(135deg, #ffffff, #e0e0e0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.modern-table tbody tr.selected {
    background-color: #d1e7ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modern-table tbody td {
    background: linear-gradient(135deg, #ffffff, #f9f9f9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.table-icon {
    font-size: 24px;
    color: #6c63ff;
    transition: color 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(0 1mm 1mm rgba(36, 36, 36, 0.185));
    vertical-align: middle;
    transform: translate3d(0, 0, 1px);
    backface-visibility: hidden;
}
.g-gm{
    position: relative;
    width: 20px;
    border-radius: 12%;
    filter: drop-shadow(0.5mm 0.5mm 0.5mm rgba(0, 0, 0, 0.315));
    transform: translate3d(0, 0, 1px);
    backface-visibility: hidden;
}
.modern-table a{
    text-decoration: none;
}
.table-icon:hover {
    color: #836fff;
    transform: scale(1.2);
}
.table-icon-eqitems{
    color: #6c63ff;
    transition: color 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(0 1mm 1mm rgba(36, 36, 36, 0.185));;
    vertical-align: middle;
    transform: scale(1);
}
.table-icon-eqitems:hover {
    color: #836fff;
    transform: scale(1.085);
}
/*.table-container {
    background: linear-gradient(135deg, #ffffff, #f0f4f8);
}
.modern-table th,
.modern-table td {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.modern-table th {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.modern-table tbody tr {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.modern-table tbody td {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
}
.modern-table tbody tr:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modern-table tbody td:hover {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.modern-table tbody tr {
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.tlacitkohry {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 7px 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;
}
input[type=text] {
    background-color: #606da88e;
    color: rgb(37, 36, 36);
    border-radius: 5%;
}*/

@media (max-width: 600px) {
    .modern-table th,
    .modern-table td {
        padding: 8px 10px;
    }
    .modern-table tbody td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    .modern-table tbody tr {
        display: block;
        margin-bottom: 10px;
    }
    /*.table-container {
        width: 100%;
        padding: 10px;
        box-shadow: none;
        border-radius: 0;
    }
    .modern-table {
        border-spacing: 0 10px;
        min-width: 100%;
    }
        .modern-table th,
        .modern-table td {
        padding: 10px;
        margin: 0;
        font-size: 14px;
    }
        .modern-table tbody tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }*/
}

/* --  Effects -- */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadetop {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* ------------------------------------------ 

</style><main class="page-content"><div class="card"><div class="content"><h2 class="title">CS settings</h2>&emsp;
<button class="btn"><a href="h_gamesother.html"
class="btn btn-primary">MORE</a></button>&emsp;
</div></div><div class="card"><div class="content"><h2 class="title">Games & Other</h2>&emsp;
<button class="btn"><a href="h_gamesother.html"
class="btn btn-primary">MORE</a></button>&emsp;
</div></div><div class="card"><div class="content"><h2 class="title">Equipment</h2>&emsp;
<button class="btn"><a href="h_equipment.html"
class="btn btn-primary">MORE</a></button>&emsp;
</div></div><div class="card"><div class="content"><h2 class="title">About me</h2>&emsp;
<button class="btn"><a href="h_aboutme.html"
class="btn btn-primary">MORE</a></button>&emsp;
</div></div><p><b><a href="https://steamcommunity.com/id/misakbr2/recommended/782330/"

data-replace="Nová DOOM Eternal recenze" class="odkaz"><span>↺ Novinkové centrum (in CZ)</span></a></p></b></main></body><style>* {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
}

ty stare karty udelat jednu zalozku?

https: //github.com/TheMichalBr/themichalbr/tree/c5155d966d6c9644e480a8de71d664b9b779d8f1
https: //refined-github-html-preview.kidonng.workers.dev/TheMichalBr/themichalbr/raw/c5155d966d6c9644e480a8de71d664b9b779d8f1/index.html
------------------------------------------------------------- Developer Developer ---------------------------------------------------------------- ------------------------------------ OLD GAMES -------------------------------------------------- pozn. stare gamesother a about me a equipment obsah je bud zde nebo pouzit a cele ui bylo scrapnuto proztoze jako vypadalo v pohode ale melo nejake mouchy <h1>Valorant Settings</h1><table border="1"><tr><td><b>Crosshair</b></td><td><b>In-Game sensitivity</b></td><td><b>Resolution and quality settings</b></td><td><b>Misc.</b></td></tr><tr><td><img src="https://legendboost.com/images/valorant/ranks/rank-5-1-fc0f86e94fd8494b796161d92c9cf66b.png?vsn=d"
weight="95" height="95"></img><b>Platinum II</b>– MichalBr#UwU</td><td><small>Cyan - Static</small></td><td><small>0.82 / 1 / 1</small></td><td><small>2560x1440 270Hz,
FPS limit - 500,
All graphic set to low,
only Bloom,
MT and NVRB are ON/small></td><td><small>FPS counter - enabled,
Enemy highlight color - rd,
Map rotate - On (1.16 0.72)</small></td></tr></table><h3>Personal settings</h3><h6>You can find my config in <a href="https://github.com/TheMichalBr/mweb/tree/main/config_cs">mweb/config_cs</a>or on <a href="https://settings.gg/misakbr2">settings.gg (non-active)</a>or mb4. </h6><table border="1"><tr><td><b>Crosshair</b></td><td><b>Viewmodel</b></td><td><b>Binds</b></td></tr><tr><td><small>CSGO-bimys-eFkyb-icw9q-Sfrmo-XKH8D / CSGO-Z2DdF-fjDA5-QHVPd-3uBWQ-CrrBE / CSGO-2YZW3-mQNd5-u5Wiu-Di5xO-NGL9P / CSGO-oLKsQ-kVRsV-LVnSm-6TjZM-d4izO // CSGO-bimys-eFkyb-icw9q-Sfrmo-XKH8D
CSGO-94yFf-NEJtd-yNLtE-qPtuY-O2syM CSGO-8Gkvb-aphzt-aB9Au-uAMUG-CrrBE CSGO-kuLez-W4DAQ-fxLtc-QDy7a-tUfOQ CSGO-oLKsQ-kVRsV-LVnSm-6TjZM-d4izO CSGO-bimys-eFkyb-icw9q-Sfrmo-XKH8D CSGO-94yFf-NEJtd-yNLtE-qPtuY-O2syM CSGO-8Gkvb-aphzt-aB9Au-uAMUG-CrrBE CSGO-kuLez-W4DAQ-fxLtc-QDy7a-tUfOQ CSGO-oLKsQ-kVRsV-LVnSm-6TjZM-d4izO cl_crosshairstyle 4;
cl_crosshairsize 1.2;
cl_crosshairgap -4;
cl_crosshairthickness 0.5;
cl_crosshair_drawoutline 0;
cl_crosshairdot 0;
cl_crosshaircolor 1;
cl_crosshairusealpha 1;
cl_crosshairalpha 250;
cl_crosshairgap_useweaponvalue 0;
cl_crosshair_t 0</small></td><td><small>viewmodel_fov 68;
viewmodel_offset_x 2;
viewmodel_offset_y 2;
viewmodel_offset_z -2;
cl_righthand 1;
viewmodel_presetpos 0 / viewmodel_fov 68;
viewmodel_offset_x 1;
viewmodel_offset_y 2;
viewmodel_offset_z -2;
cl_righthand 1;
viewmodel_presetpos 0 // viewmodel_fov 68;viewmodel_offset_x 2;viewmodel_offset_y 2;viewmodel_offset_z -2;cl_righthand 1;viewmodel_presetpos 0
viewmodel_fov 60;
viewmodel_offset_x 1;
viewmodel_offset_y 1;
viewmodel_offset_z -1;
cl_righthand 1;
viewmodel_presetpos 1 viewmodel_fov 68;
viewmodel_offset_x 2;
viewmodel_offset_y 2;
viewmodel_offset_z -2;
cl_righthand 1;
viewmodel_presetpos 0 viewmodel_fov 60;
viewmodel_offset_x 1;
viewmodel_offset_y 1;
viewmodel_offset_z -1;
cl_righthand 1;
viewmodel_presetpos 1 viewmodel_fov 68;
viewmodel_offset_x 1;
viewmodel_offset_y 2;
viewmodel_offset_z -2;
cl_righthand 1;
viewmodel_presetpos 0</small></td><td><small>bind f "use weapon_smokegrenade";
bind v "use weapon_flashbang";
bind="holdpos";
bind "alt" "toggle
cl_righthand 0 1"; r_cleardecals";
(Using MOUSE4 for player ping and MOUSE5 for use microphone)</small></td></tr></table><table border="1"><tr><td><b>Launch options</b></td><td><b>X</b></td></tr><tr><td><small>-high -threads 8 -novid -nojoy -freq 144 -console -tickrate 128+fps_max 500+fps_max_menu 144+cl_updaterate 128+cl_interp_ratio 1+cl_interp 0+cl_forcepreload 1 -language bananagaming+exec autoexec.cfg</small></td><td><small></small></td></tr></table><table border="1"><tr><td><b>HUD</b></td><td><b>Radar</b></td><td><b>cl_bob</b></td></tr><tr><td><small>hud_scaling 0.896259;
cl_hud_color 0;
cl_hud_playercount_showcount 0;
cl_hud_playercount_pos 0;
cl_showloadout 0;
cl_hud_healthammo_style 0;
cl_hud_background_alpha 0.5;
cl_hud_bomb_under_radar 1;
safezonex 0.993978;
safezoney 0.993978</small></td><td><small>cl_hud_radar_scale 1.15;
cl_radar_scale 0.4;
cl_radar_always_centered 1;
cl_radar_rotate 1;
cl_radar_icon_scale_min 0.4</small></td><td><small>cl_viewmodel_shift_left_amt 0.5;
cl_viewmodel_shift_right_amt 0.25;
viewmodel_recoil 0;
cl_bob_lower_amt 5;
cl_bobamt_lat 0.1;
cl_bobamt_vert 0.1</small></td></tr></table><h3>Video and audio settings</h3><table><tr><td><b>Resolution</b></td><td><b>Brigthness</b></td><td><b>Master Volume</b></td></tr><tr><td><small>1280x1024 /960,
4:3 - Stretched,
144Hz </small></td><td><small>130%</small></td><td><small>25% (VOIP: 40%)</small></td>all low </tr></table><h3>Keyboard and mouse settings</h3><table border="1"><tr><td><b>DPI</b></td><td><b>Hz</b></td><td><b>Pointer speed (Win)</b></td><td><b>In-Game sensitivity</b></td><td><b>In-Game scope sensitivity</b></td></tr><tr><td><small>400</small></td><td><small>1000</small></td><td><small>6/11</small></td><td><small>2,
4</small></td><td><small>1</small></td></tr></table>&emsp;
Další inspirace https: //codepen.io/aaroniker/pen/yLEPJXj
https: //codepen.io/tin-fung-hk/pen/rNpEPpM
https: //konect.gg/michalbr
https: //settings.gg/player/154866313 mb4
settings.gg/misakbr2 overwatch a fornite https: //query.hicoria.com/query.php?user=mcx_379915
https: //codepen.io/TheMichalBr
Bude zájem i o další herní,
neherní recenze? <h1>Other platforms</h1>• My Steam account: https: //steamcommunity.com/id/misakbr2/
• My Riot account: MichalBr#UwU https: //www.metacritic.com/user/MichalBr
<img src="https://query.hicoria.com/query.php?user=mcx_379915" alt="server status">INTERA. ODKAZ <p><b><a href="https://steamcommunity.com/id/misakbr2/recommended/782330/" data-replace="Nová DOOM Eternal recenze" class="odkaz"><span>↺ Novinkové centrum (in CZ)</span></a></p></b></section><br></body></html><h1>Valorant Settings</h1><table border="1"><tr><td><b>Rank</b></td><td><b>Crosshair</b></td><td><b>In-Game sensitivity</b></td><td><b>Resolution and quality settings</b></td><td><b>Misc.</b></td></tr><tr><td><img src="https://legendboost.com/images/valorant/ranks/rank-5-1-fc0f86e94fd8494b796161d92c9cf66b.png?vsn=d"
weight="95" height="95"></img><b>Platinum II</b>– MichalBr#UwU</td><td><small>Cyan - Static</small></td><td><small>0.82 / 1 / 1</small></td><td><small>2560x1440 270Hz,
FPS limit - 500,
All graphic set to low,
only Bloom,
MT and NVRB are ON/small></td><td><small>FPS counter - enabled,
Enemy highlight color - re,
Map rotate - On (1.16 0.72)</small></td></tr></table><h3>Personal settings</h3><h6>You can find my config in <a href="https://github.com/TheMichalBr/mweb/tree/main/config_cs">mweb/config_cs</a>or on <a href="https://settings.gg/misakbr2">settings.gg (non-active)</a>or mb4. </h6><table border="1"><tr><td><b>Crosshair</b></td><td><b>Viewmodel</b></td><td><b>Binds</b></td></tr><tr><td><small>CSGO-bimys-eFkyb-icw9q-Sfrmo-XKH8D / CSGO-Z2DdF-fjDA5-QHVPd-3uBWQ-CrrBE / CSGO-2YZW3-mQNd5-u5Wiu-Di5xO-NGL9P / CSGO-oLKsQ-kVRsV-LVnSm-6TjZM-d4izO // CSGO-bimys-eFkyb-icw9q-Sfrmo-XKH8D
CSGO-94yFf-NEJtd-yNLtE-qPtuY-O2syM CSGO-8Gkvb-aphzt-aB9Au-uAMUG-CrrBE CSGO-kuLez-W4DAQ-fxLtc-QDy7a-tUfOQ CSGO-oLKsQ-kVRsV-LVnSm-6TjZM-d4izO CSGO-bimys-eFkyb-icw9q-Sfrmo-XKH8D CSGO-94yFf-NEJtd-yNLtE-qPtuY-O2syM CSGO-8Gkvb-aphzt-aB9Au-uAMUG-CrrBE CSGO-kuLez-W4DAQ-fxLtc-QDy7a-tUfOQ CSGO-oLKsQ-kVRsV-LVnSm-6TjZM-d4izO cl_crosshairstyle 4;
cl_crosshairsize 1.2;
cl_crosshairgap -4;
cl_crosshairthickness 0.5;
cl_crosshair_drawoutline 0;
cl_crosshairdot 0;
cl_crosshaircolor 1;
cl_crosshairusealpha 1;
cl_crosshairalpha 250;
cl_crosshairgap_useweaponvalue 0;
cl_crosshair_t 0</small></td><td><small>viewmodel_fov 68;
viewmodel_offset_x 2;
viewmodel_offset_y 2;
viewmodel_offset_z -2;
cl_righthand 1;
viewmodel_presetpos 0 / viewmodel_fov 68;
viewmodel_offset_x 1;
viewmodel_offset_y 2;
viewmodel_offset_z -2;
cl_righthand 1;
viewmodel_presetpos 0 // viewmodel_fov 68;viewmodel_offset_x 2;viewmodel_offset_y 2;viewmodel_offset_z -2;cl_righthand 1;viewmodel_presetpos 0
viewmodel_fov 60;
viewmodel_offset_x 1;
viewmodel_offset_y 1;
viewmodel_offset_z -1;
cl_righthand 1;
viewmodel_presetpos 1 viewmodel_fov 68;
viewmodel_offset_x 2;
viewmodel_offset_y 2;
viewmodel_offset_z -2;
cl_righthand 1;
viewmodel_presetpos 0 viewmodel_fov 60;
viewmodel_offset_x 1;
viewmodel_offset_y 1;
viewmodel_offset_z -1;
cl_righthand 1;
viewmodel_presetpos 1 viewmodel_fov 68;
viewmodel_offset_x 1;
viewmodel_offset_y 2;
viewmodel_offset_z -2;
cl_righthand 1;
viewmodel_presetpos 0</small></td><td><small>bind f "use weapon_smokegrenade";
bind v "use weapon_flashbang";
bind="holdpos";
bind "alt" "toggle
cl_righthand 0 1"; r_cleardecals";
(Using MOUSE4 for player ping and MOUSE5 for use microphone)</small></td></tr></table><table border="1"><tr><td><b>Launch options</b></td><td><b>X</b></td></tr><tr><td><small>-high -threads 8 -novid -nojoy -freq 144 -console -tickrate 128+fps_max 500+fps_max_menu 144+cl_updaterate 128+cl_interp_ratio 1+cl_interp 0+cl_forcepreload 1 -language bananagaming+exec autoexec.cfg</small></td><td><small></small></td></tr></table><table border="1"><tr><td><b>HUD</b></td><td><b>Radar</b></td><td><b>cl_bob</b></td></tr><tr><td><small>hud_scaling 0.896259;
cl_hud_color 0;
cl_hud_playercount_showcount 0;
cl_hud_playercount_pos 0;
cl_showloadout 0;
cl_hud_healthammo_style 0;
cl_hud_background_alpha 0.5;
cl_hud_bomb_under_radar 1;
safezonex 0.993978;
safezoney 0.993978</small></td><td><small>cl_hud_radar_scale 1.15;
cl_radar_scale 0.4;
cl_radar_always_centered 1;
cl_radar_rotate 1;
cl_radar_icon_scale_min 0.4</small></td><td><small>cl_viewmodel_shift_left_amt 0.5;
cl_viewmodel_shift_right_amt 0.25;
viewmodel_recoil 0;
cl_bob_lower_amt 5;
cl_bobamt_lat 0.1;
cl_bobamt_vert 0.1</small></td></tr></table><h3>Video and audio settings</h3><table><tr><td><b>Resolution</b></td><td><b>Brigthness</b></td><td><b>Master Volume</b></td></tr><tr><td><small>1280x1024 /960,
4:3 - Stretched,
144Hz </small></td><td><small>130%</small></td><td><small>25% (VOIP: 40%)</small></td>all low </tr></table><h3>Keyboard and mouse settings</h3><table border="1"><tr><td><b>DPI</b></td><td><b>Hz</b></td><td><b>Pointer speed (Win)</b></td><td><b>In-Game sensitivity</b></td><td><b>In-Game scope sensitivity</b></td></tr><tr><td><small>400</small></td><td><small>1000</small></td><td><small>6/11</small></td><td><small>2,
4</small></td><td><small>1</small></td></tr></table>&emsp;
Další inspirace https: //codepen.io/aaroniker/pen/yLEPJXj
https: //codepen.io/tin-fung-hk/pen/rNpEPpM
https: //konect.gg/michalbr
https: //settings.gg/player/154866313 mb4
overwatch a fornite https: //query.hicoria.com/query.php?user=mcx_379915
<table border="1"><tr><td><b>COVER</b></td><td><b>Game</b></td><td><b>Developer</b></td><td><b>Score</b></td></tr><tr><td><small><img src="https://static.metacritic.com/images/products/games/9/562c989431810e6aac45b6164ae0bfca-53.jpg"></small></td><td><b>The Witcher 3: Wild Hunt</b></td><td>CD Project RED</td><td><b>10 / 10</b></td></tr><tr><td><small><img src="https://static.metacritic.com/images/products/games/9/e6f3e91d6de4757b3a81886b520b5739-53.jpg"></small></td><td><b>Cyberpunk 2077</b></td><td>CD Project RED</td><td><b>10 / 10</b></td></tr></table>Bude zájem i o další herní,
neherní recenze? <h1>Other platforms</h1>• My Steam account: https: //steamcommunity.com/id/misakbr2/
• My Riot account: MichalBr#UwU https: //www.metacritic.com/user/MichalBr