a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    /*display: block;
        width: 120px;
        height: 32px;
        z-index: 0;
        padding: 0em;
        margin: 0em;*/

}

a::before,
a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

a::before {
    background-color: rgb(76, 189, 255);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #cebb15;

}

a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

a:hover::after {
    transform: translate3d(0, 0, 0);
}

a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
    transform: translate3d(-200%, 0, 0);
}


/* ========== Scrollbar ========== */

* {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
}
*::-webkit-scrollbar {
    width: 17px;
}
*::-webkit-scrollbar-track {
    background: #ffffff;
}
*::-webkit-scrollbar-thumb {
    background-color: #005661;
    border-radius: 20px;
    border: 4px solid #ffffff;
}

/* ========== Iframe responsive resize ========== */

.wrapper {
    position: relative; /*Pozn. flex*/
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0px;
    height: 520;
    width: 960;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
iframe
{
    border-radius: 16px;
    border-color: black;
}

/* ========== Background gradient ========== */

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(131, 15, 123) 3%, rgb(30, 97, 163) 38%, rgb(20, 170, 160) 68%, rgb(18, 155, 109) 98%);
    animation: gradient 17s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

/* ========== Web look and responsive resize ========== */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(max(100vh, 400px));
    padding: 100px;
    color: #222;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body article {
    width: 100%;
    max-width: 1000px;
}

body article header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 400px;
    padding: 50px;
    border-radius: 16px;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.1px);
}

body article header .upper-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

body article header .upper-header .mini-title {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    opacity: 0.9;
}

body article header .lower-header {
    padding-top: 50px;
}

body article header .lower-header .tags-container {
    display: flex;
    align-items: center;
    opacity: 0.75;
    margin-bottom: 12px;
}

body article header .lower-header .tags-container svg {
    width: 20px;
    margin-right: 10px;
}

body article header .lower-header .title {
    margin: 20px 0;
    font-size: 3rem;
    font-weight: bold;
    opacity: 0.9;
}

body article header .lower-header .subtitle {
    width: 50%;
    margin-top: 10px;
    opacity: 0.75;
    line-height: 1.75;
}

body .summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 30px 50px;
    border-radius: 16px;
    box-shadow: 0 0 0 1px #f2f2f2;
}

body .summary .summary-item {
    width: 100%;
    padding-right: 20px;
}

body .summary .summary-item .item-title {
    color: #999;
}

body .summary .summary-item .item-text {
    margin-top: 12px;
    font-size: 1.5rem;
}

body .main-article {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
    line-height: 1.75;
    position: relative;
    margin: 40px 0;
    padding: 40px;
    background-color: #293464;
    border-radius: 16px;
    filter: blur(0.1px);
}

body .main-article h4 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.25em;
}

body .main-article p {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.125em;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

body .main-article blockquote {
    position: relative;
    margin: 40px 0;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 16px;
}

@media screen and (max-width: 1024px) {
    body {
        padding: 50px;
    }

    body article header .lower-header .subtitle {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body article header .lower-header .title {
        word-break: break-all;
    }

    body article .summary {
        flex-direction: column;
    }

    body article .summary .summary-item:not(:last-child) {
        padding-bottom: 30px;
    }

    body article .main-article .gallery {
        grid-template-areas: "img1 img1" "img1 img1" "img2 img3" "img4 img5";
    }
}

@media screen and (max-width: 425px) {
    body {
        padding: 25px;
    }

    body article header .upper-header .date-since {
        display: none;
    }
}