html {
    scroll-behavior: smooth
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 17px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #005661;
    border-radius: 20px;
    border: 4px solid #ffffff;
}

* {
    box-sizing: border-box;
}

h1
{
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

code
{
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97)
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(max(100vh, 400px));
    padding: 100px;
    color: #222;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body article {
    width: 100%;
    max-width: 1000px;
}

body article header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 400px;
    padding: 50px;
    border-radius: 16px;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(0.1px);
}

body article header .upper-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

body article header .upper-header .mini-title {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    opacity: 0.9;
}

body article header .lower-header {
    padding-top: 50px;
}

h3
{
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

body article header .lower-header .tags-container {
    display: flex;
    align-items: center;
    opacity: 0.75;
    margin-bottom: 12px;
}

body article header .lower-header .tags-container svg {
    width: 20px;
    margin-right: 10px;
}

body article header .lower-header .title {
    margin: 20px 0;
    font-size: 3rem;
    font-weight: bold;
    opacity: 0.9;
}

body article header .lower-header .subtitle {
    width: 50%;
    margin-top: 10px;
    opacity: 0.75;
    line-height: 1.75;
}

.tabulkacs
{
    color: whitesmoke;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
    outline: 0px solid white;
    outline-offset: 0px;
    margin: center;
    align-self: center;
    align-content: center;
    border: 1px cyan;
    border-spacing: 1em 0.3em;
    padding: 0 2em 1em 0;
    width: 51em;
    height: 15em;
    text-align: center;
    background-color: rgba(23, 144, 192, 0.37)
}
table td 
{
    outline: 2px solid rgba(0, 0, 0, 0.178);
}

body .summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 30px 50px;
    border-radius: 16px;
    box-shadow: 0 0 0 1px #f2f2f2;
}

body .summary .summary-item {
    width: 100%;
    padding-right: 20px;
}

body .summary .summary-item .item-title {
    color: #999;
}

body .summary .summary-item .item-text {
    margin-top: 12px;
    font-size: 1.5rem;
}

body .main-article {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
    line-height: 1.75;
    position: relative;
    margin: 40px 0;
    padding: 40px;
    background-color: #4a966a;
    opacity: 0.92;
    border-radius: 16px;
    filter: blur(0.1px);
}

body .main-article h4 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.25em;
}

body .main-article p {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.125em;
    text-shadow: 0.5px 0.5px 0.5px rgb(7, 16, 97);
}

body .main-article blockquote {
    position: relative;
    margin: 40px 0;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 16px;
}

@media screen and (max-width: 1024px) {
    body {
        padding: 50px;
    }

    body article header .lower-header .subtitle {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body article header .lower-header .title {
        word-break: break-all;
    }

    body article .summary {
        flex-direction: column;
    }

    body article .summary .summary-item:not(:last-child) {
        padding-bottom: 30px;
    }

    body article .main-article .gallery {
        grid-template-areas: "img1 img1" "img1 img1" "img2 img3" "img4 img5";
    }
}

@media screen and (max-width: 425px) {
    body {
        padding: 25px;
    }

    body article header .upper-header .date-since {
        display: none;
    }
}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(131, 15, 123) 3%, rgb(30, 97, 163) 38%, rgb(20, 170, 160) 68%, rgb(18, 155, 109) 98%);
    animation: gradient 17s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}