/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: transparent transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 17px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #005661;
    border-radius: 20px;
    border: 4px solid #ffffff;
}

/* MAIN CARDS */

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

:root {
    --d: 1420ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}

* {
    box-sizing: border-box;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.b1{
    color: white;
}

body {
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
}

.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1.1rem;
    width: 100%;
    text-align: center;
    border-radius: 16px;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .card {
        height: 420px; /*(def 350px)*/;
    }
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background-image: url(p_cs.png);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: left;
    filter: blur(0.8px);
}

.card:nth-child(2):before {
    background-image: url(p_w.png);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: center;
    filter: blur(0.8px);
}

.card:nth-child(3):before {
    background-image: url(p_pc.jpg);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: left;
    filter: blur(0.8px);
}

.card:nth-child(4):before {
    background-image: url(p_me.jpg);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: center;
    filter: blur(0.8px);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+* {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    padding: 0.42rem 1.45rem;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
/* 
    for textchange:
    display: cursor: pointer;
        margin-top: 1.5rem;
        padding: 0.42rem 1.45rem;
        font-size: 0.85rem;
        font-weight: bold;
        letter-spacing: 0.025rem;
        text-transform: uppercase;
        color: white;
        background-color: black;
        border: none;;

    byme:
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 1.02rem 1.68rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;


    org:
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
*/
}

.btn:hover {
    background-color: #0d0d0d;
}

.btn:focus {
    outline: 1px dashed rgb(0, 0, 0);
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }

    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }

    .card:hover .content>*:not(.title),
    .card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}

/* BACKGROUND */

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(18, 155, 109) 3%, rgb(20, 170, 160) 38%, rgb(30, 97, 163) 68%, rgb(131, 15, 123) 98%);
    animation: gradient 17s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}


/* LINK */

/* unvisited link */ a:link {
    color: rgb(76, 189, 255);
}

/* visited link */ a:visited {
    color: rgb(255, 255, 255);
}

/* mouse over link */ a:hover {
    color: rgb(26, 167, 202);
}

/* selected link */ a:active {
    color: rgb(18, 78, 168);
}

a
{
    text-shadow: 0.85px 0.85px 0.85px black;
    
}




/**/
a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    /*display: block;
        width: 120px;
        height: 32px;
        z-index: 0;
        padding: 0em;
        margin: 0em;*/
        
}

a::before,
a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

a::before {
    background-color: rgb(76, 189, 255);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #cebb15;
    
}

a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

a:hover::after {
    transform: translate3d(0, 0, 0);
}

a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

a:hover span {
    transform: translate3d(-200%, 0, 0);
}


/* different link anim
a {
    position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}*/



















/* old styleso
body
{
    text-align: center;
    align-items: center;
    align-self: auto;
    background-size: flex; 
}
h1
{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Arial CE, sans-serif;
    text-shadow: 4px 3px 4px black
}
h3
{
    text-align: center;
    color: white;
    font-family: Arial CE, sans-serif;
    text-shadow: 3px 2px 3px black
}
ul
{
    text-align: center;
    align-items: center;
    align-self: auto;
    align-content: center;
    align-tracks: center;
    margin: 0 auto;
    color: white;
    font-family: Arial CE, sans-serif;
    text-shadow: 2px 3px 1px black
}
b
{
    text-align: center;
    align-items: center;
    align-self: auto;
    align-content: center;
    align-tracks: center;
    color: whitesmoke;
    font-family: Arial CE, sans-serif;
    text-shadow: 1px 1px 1px black;
}
table
{
    text-align: center;
    align-items: center;
    align-self: auto;
    align-content: center;
    align-tracks: center;
}
.center 
{
    margin-left: auto;
    margin-right: auto;
}
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(131, 15, 123) 3%, rgb(30, 97, 163) 38%, rgb(20, 170, 160) 68%, rgb(18, 155, 109) 98%);
    animation: gradient 17s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}


/* The sidebar menu 
.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height 
    width: 160px;
    /* Set the width of the sidebar 
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) 
    z-index: 1;
    /* Stay on top 
    top: 0;
    /* Stay at the top 
    left: 0;
    background-color: #111;
     Black 
    overflow-x: hidden;
     Disable horizontal scroll 
    padding-top: 20px;
}

 The navigation menu links 
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color 
.sidenav a:hover {
    color: #f1f1f1;
}

 Style page content 
.main {
    margin-left: 160px;
    /* Same as the width of the sidebar 
    padding: 0px 10px;
}

 On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) 
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
} */