body
{
    text-align: center;
    align-items: center;
    align-self: auto;
    background-size: flex; 
}
h1
{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: Arial CE, sans-serif;
    text-shadow: 4px 3px 4px black
}
h3
{
    text-align: center;
    color: white;
    font-family: Arial CE, sans-serif;
    text-shadow: 3px 2px 3px black
}
ul
{
    text-align: center;
    align-items: center;
    align-self: auto;
    align-content: center;
    align-tracks: center;
    margin: 0 auto;
    color: white;
    font-family: Arial CE, sans-serif;
    text-shadow: 2px 3px 1px black
}
b
{
    text-align: center;
    align-items: center;
    align-self: auto;
    align-content: center;
    align-tracks: center;
    color: whitesmoke;
    font-family: Arial CE, sans-serif;
    text-shadow: 1px 1px 1px black;
}
table
{
    text-align: center;
    align-items: center;
    align-self: auto;
    align-content: center;
    align-tracks: center;
}
.center 
{
    margin-left: auto;
    margin-right: auto;
}
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(131, 15, 123) 3%, rgb(30, 97, 163) 38%, rgb(20, 170, 160) 68%, rgb(18, 155, 109) 98%);
    animation: gradient 17s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}


/* The sidebar menu */
.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}